@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   scroll-behavior: smooth;
}

body {
   width: 100%;
   background-color: #2B0059;
   color: #F9F9FA;
}

// loader
.loader {
   position: fixed;
   width: 100vw;
   height: 100%;
   text-align: center;
   padding-top: 40vh;
   background-color: #2B0059;

   .lds-ripple {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
    }
   
    .lds-ripple div {
      position: absolute;
      border: 4px solid #fff;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
   
    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }
   
    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }   
}

/* header */
header {
   display: none;
   width: 100%;
   height: 100vh;
   
   nav {
      width: 100%;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: space-between;
      padding: 15px 25px;
      z-index: 101;
      transition: all .6s ease;

      .brand {
         font-size: 20px;

         h3 {
            padding-top: 14px;
         }
      }

      .icon-container {
         width: 30px;
      }
   }

   .menu-container {
      text-align: center;
      background-color: #11092A;
      height: 0px;
      transition: height .1s ease;
      opacity: 0.9;

      .ul-con {
         width: fit-content;
         margin: 0 auto;
         display: none;
         transition: height .2s ease-in;

         li {
            font-size: 30px;
            list-style: none;
            padding: 20px;
            font-weight: bolder;
            text-transform: uppercase;
            position: relative;
            top: 170px;
         }

         a {
            text-decoration: none;
            color: #fff;
            cursor: pointer;
         }
      }
   }
   
   .menu-container.hide {
      display: contents;
   }
   
   .menu-container.show {
      height: 100vh;
      position:fixed;
      top:0;
      width:100%;
      z-index:100;
   }
   
   .menu-container.show .ul-con {
      display: contents;
   }

   // front
   .front-container {
      width: 90%;
      margin: auto;
      height: fit-content;

      h1 {
         font-size: 5em;
         width: fit-content;
         margin: auto;
         padding-top: 35vh;
      }

      .lorem {
         font-size: 1.2em;
         width: fit-content;
         margin: auto;

         .typing {
            position: relative;
            margin-right: 3px;
         }
      }

      .arrow {
         margin-top: 8vh;
         display: grid;
         place-items: center;
         outline: 0;
         outline-width: 0;

         a {
            -webkit-tap-highlight-color: transparent;
         }

         img {
            position: relative;
            animation: bounce 2s ease infinite;
            border-radius: 50%;
            outline: 0;
            border: 0;
         }
      }

      @keyframes bounce {
         0% {
            bottom: 10px;
         }
         25% {
           bottom: 40px;
         }
         50% {
            bottom: 20px;
         }
         75% {
            bottom: 25px;
         }
         100% {
            bottom: 0;
         }
      }
   }
}

// profile
.pro {
   display: none;
   width: 90%;
   margin: 10px auto 100px auto;
   height: fit-content;

   .pro-container {
      padding-top: 12vh;
      text-align: center;


      .img-container {
         margin-bottom: 5vh;

         img {
            width: 200px;
            height: 200px;
            border: 4px solid pink;
            border-radius: 50%;
         }
      }
   }

   .sabi {
      font-size: 1em;
      display: flex;
      text-align: start;
      margin-bottom: 40px;
      width: fit-content;

      i {
         font-size: 15px;
         color: #fff;
         padding: 3px 5px 0 0;
      }

      p {
         margin-bottom: 25px;
      }
   }

   .download {
      margin-bottom: 50px;

      a {
         text-decoration: none;
         color: #fff;
         border: 4px solid #11092A;
         font-size: 15px;
         padding: 15px;
         border-radius: 7px;
         background-color: #11092A;
         transition: all .7s ease;

         i {
            font-size: 15px;
            padding-left: 5px;
            padding-right: 5px;
         }
      }

      a:hover {
         border: 4px solid #11092A;
         background-color: #2B0059;
      }
   }

   .social {
      width: fit-content;
      margin: auto;
      display: grid;
      padding-right: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 20px;

      a {
         font-size: 28px;
         text-decoration: none;
         color: #fff;
         transition: all 1s ease;
      }

      a:hover {
         -webkit-transform: rotateZ(720deg);
         -moz-transform: rotateZ(720deg);
         transform: rotateZ(720deg);
      }
   }
}  


// projects
.projects {
   display: none;
   height: fit-content;
   width: 90%;
   margin: auto;
   padding: 10vh 0 10vh 0;
   text-align: center;

   .projects-container {
      display: grid;

      h1 {
         margin: 20px auto;
      }

      .box {
         width: 95%;
         height: fit-content;
         margin: 20px auto;

         .project-img {
            width: 100%;
            height: fit-content;
            margin: 15px auto;

            img {
               width: 100%;
               height: 270px;
            }
         }

         .project-info {
            width: 100%;
            margin: 10px auto;
            text-align: start;
            padding: 5px;
         }

         .projects-btn {
            width: 100%;
            margin: 15px auto;
            text-align: start;

            .btn1, .btn2{
               text-decoration: none;
               font-size: 18px;
               padding: 10px;
               border-radius: 5px;
               outline: 0;
               border: 3px solid #11092A;
               transition: all .4s ease;
               background-color: #11092A;
               color: #fff;

               i {
                  color: #fff;
                  font-size: 20px;
               }
            }

            .btn1:hover, .btn2:hover {
               border: 3px solid #11092A;
               background-color: #55B998;
            }
         }
      }
   }

}

// skills
.skills {
   display: none;
   width: 90%;
   margin: auto;
   height: fit-content;
   text-align: center;
   padding: 10vh 0 0 0;

   h1 {
      font-size: 25px;
   }

   .skill-container {
      width: 100%;
      margin: auto;

      .box {
         margin: 10px 0 40px 0;
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;

         .title {
            padding: 10px;
            margin: 20px 0;
         }

         .set {
            display: grid;
            grid-template-columns: 100px 100px 100px;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
         
            .lang {
               height: 100px;
               border-radius: 10px;
               padding: 15px;
               border: 5px solid #11092A;
               transition: all .5s ease;

               img {
                  width: 60px;
                  height: 60px;
               }
            }

            .lang:hover {
               background-color: #11092A;
               border: 5px solid pink;
            }
         }
      }
   }
}

img {
   pointer-events: none;
}

// testimonials


// contact
.contact {
   display: none;
   width: 90%;
   margin: auto;
   height: fit-content;
   text-align: center;
   padding: 160px 0;

   .contact-container {

      h4 {
         font-size: 15px;
         margin-bottom: 10px;
      }

      h3 {
         font-size: 25px;
         margin-bottom: 13px;
      }


      input, textarea, button {
         width: 95%;
         font-size: 16px;
         padding: 15px;
         border: 0;
         resize: none;
         border-radius: 4px;
         margin: 7px auto;
         background-color: #2A336C;
         color: #fff;
         outline: 0;
      }

      input::placeholder, textarea::placeholder {
         color: #fff;
      }

      .button {
         font-size: 20px;
         padding: 17px;
         background-color: #55B998;
         transition: all .3s ease;
      }

      .button:hover {
         background-color: #1a9e72;
      }

   }
}

// footer 
#foot {
   display: none;
   margin-top: 10vh;
   width: 100%;
   padding: 10px;
   text-align: center;

   .fot {
      margin-bottom: 20px;
   }
}

// media query
@media (min-width: 768px) and (max-width: 1024px){
   header  {
      .front-container {
         h1 {
            font-size: 7em;
         }

         .lorem {
            font-size: 2em;
         }
      }
   }

   .pro {
      padding-top: 10vh;

      .pro-container {
         display: grid;
         grid-template-columns: repeat(2, 1fr);

         .img-container {

            img {
               width: 300px;
               height: 300px;
            }
         }

         .sabi {
            padding: 100px 10px 30px 20px;
         }

         .download {
            margin-top: 20px;
         }

         .social {
            margin-top: 10px;
            grid-column-start: 1;
         }
      }
   }

   .projects {
      .projects-container {
         h1 {
            width: 200px;
         }

         .box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .project-img {
               grid-row: 1/3;
            }

            .project-info {
               padding: 50px 10px 20px 30px;
            }

            .projects-btn {
               padding: 10px 10px 20px 30px;
            }
         }
      }
   }

   .skill-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 20px;

      .box {
         padding: 10px;
      }

      #box3 {
         width: 350px;
         margin: 5px auto;
         grid-column: 1 / -1 ;
      }
   }   

   .contact {

      .contact-container {
   
         h4 {
            font-size: 18px;
            margin-bottom: 10px;
         }
   
         h3 {
            font-size: 28px;
            margin-bottom: 13px;
         }
   
   
         input, textarea, button {
            width: 500px;
            font-size: 20px;
            padding: 15px;
            border: 0;
            resize: none;
            border-radius: 4px;
            margin: 7px auto;
            background-color: #2A336C;
            color: #fff;
            outline: 0;
         }
   
         input::placeholder, textarea::placeholder {
            color: #fff;
         }
   
         .button {
            font-size: 22px;
            padding: 17px;
            background-color: #55B998;
            transition: all .3s ease;
         }
   
         .button:hover {
            background-color: #1a9e72;
         }
   
      }
   }
}


@media (min-width: 1025px){
   header  {
      .front-container {
         h1 {
            font-size: 7em;
         }

         .lorem {
            font-size: 2em;
         }
      }
   }

   .pro {
      padding-top: 8vh;

      .pro-container {
         display: grid;
         grid-template-columns: 400px 600px;

         .img-container {

            img {
               width: 300px;
               height: 300px;
            }
         }

         .sabi {
            padding: 100px 10px 30px 20px;
         }

         .download {
            margin-top: 20px;
         }

         .social {
            margin-top: 10px;
            grid-column-start: 1;
         }
      }
   }

   .projects {
      .projects-container {
         h1 {
            width: 200px;
         }

         .box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .project-img {
               grid-row: 1/3;
            }

            .project-info {
               padding: 50px 10px 20px 30px;
            }

            .projects-btn {
               padding: 10px 10px 20px 30px;
            }
         }
      }
   }

   .skills {
      width: 95%;
      margin: auto;
      height: 100vh;
      padding-top: 18vh;

      .skill-container {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-column-gap: 5px;
   
         .box {
            border-radius: 5px;
   
            .set {
               display: grid;
               grid-template-columns: 100px 100px 100px;
               grid-column-gap: 10px;
               grid-row-gap: 10px;
   
               .lang {
                  width: fit-content;
                  margin: auto;
               }
            }
         }
      } 
   }

   .contact {
      width: 50%;
      margin: auto;

      .contact-container {
   
         h4 {
            font-size: 18px;
            margin-bottom: 10px;
         }
   
         h3 {
            font-size: 28px;
            margin-bottom: 13px;
         }
   
   
         input, textarea, button {
            width: 550px;
            font-size: 20px;
            padding: 15px;
            border: 0;
            resize: none;
            border-radius: 4px;
            margin: 7px auto;
            background-color: #2A336C;
            color: #fff;
            outline: 0;
         }
   
         input::placeholder, textarea::placeholder {
            color: #fff;
         }
   
         .button {
            font-size: 22px;
            padding: 17px;
            background-color: #55B998;
            transition: all .3s ease;
         }
   
         .button:hover {
            background-color: #1a9e72;
         }
   
      }
   }
}












